#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}
.nav-btn {
  width: 100px;
  height: 40px;
  text-align: center;
}

.card {
  padding: 1em 2em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  border: 1px solid rgb(141, 143, 144);
  border-radius: 3px;

  transition: 300ms;
}
.message-box {
  border: 1px solid rgb(203, 203, 203);
  padding: 5px 25px;
  border-radius: 50px;

  transition: 300ms;
}

.message-box:hover {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.btn-contaner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card:hover {
  box-shadow: 2px 2px 6px 1px rgba(117, 76, 200, 0.807);
}

.footer-text {
  display: block;
  color: #888;
}
.nav-text {
  display: block;
  color: #888;
}

.footer-btn {
  text-align: center;
  border-radius: 50px;
  height: 30px;
  padding: 2px 16px;
}

.footer-btn:hover {
  box-shadow: 0px 0px 10px 4px rgba(252, 90, 255, 0.807);
}

.footer-container {
  background-color: #393a4f;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.profile-icon {
  font-size: 38px;
  padding: 0px;
  margin: 0px;
}

.nav-container {
  background-color: #393a4f;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

img {
  width: 200px;
  object-fit: cover;
  border-radius: 3px;
}

.color-container {
  margin-top: 100px;
  padding: 40px;
  border-radius: 100px;
  box-shadow: 0px 0px 10px 4px rgba(252, 90, 255, 0.207);

  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.color-box {
  display: block;
  border: 2px solid rgba(203, 203, 203, 0.531);
  border-radius: 60px;
  width: 100px;
  height: 100px;

  background-color: rgb(255, 255, 255);

  transition: 300ms;
}

#colorPicker {
  margin-top: 10px;
  width: 42px;
  height: 42px;
  border: none;
}
